/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
    text-align: center;
}

/* Header area style sheet */
.banner {
    height: 600px;
    margin: 50px auto;
    border-radius: 16px;
    text-align: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
}

.banner p {
    padding-top: 177px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.banner h1 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    padding: 0 344px;
    margin-top: 15px;
}

/* Header area style ends */

/* Main content area with multiple sections style sheet */
/* New year offer area style sheet */
.new-year-offer {
    max-width: 800px;
}

.new-year-offer h2 {
    color: #F00;
    font-size: 80px;
    font-weight: 700;
}

.new-year-offer p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
}

.new-year-offer h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 0 50px;
}
.new-year-offer img {
    width: 100%;
}