/* shared styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 100px auto;
    text-align: center;
    border-radius: 16px;
}

.primary-title {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-weight: 900;
}

.primary-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.primary-btn {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    background: #F00;
}

.sub-title {
    color: #F00;
    font-size: 20px;
    font-weight: 500;
}

.content-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 40px;
    font-weight: 900;
}

.content-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
}

/* Header area style sheet */
.banner {
    height: 600px;
    margin: 50px auto;
    text-align: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Banner\ Image.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner p {
    padding-top: 177px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.banner h1 {
    font-size: 72px;
    line-height: 95px;
    padding: 0 344px;
    margin-top: 15px;
}

/* Header area style ends */

/* Main content area with multiple sections style sheet */

/* New year offer area style sheet */
.new-year-offer {
    max-width: 800px;
}

.new-year-offer h2 {
    color: #F00;
    font-size: 80px;
    font-weight: 700;
}

.new-year-offer p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 40px;
}

.new-year-offer h3 {
    color: #070211;
    font-size: 48px;
    font-weight: 700;
    padding: 20px 0 50px;
}

.new-year-offer img {
    width: 100%;
}

/* Welcome area style sheet */
.welcome-banner {
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Images/Vectorrr.png');
    background-repeat: no-repeat;
    background-position: top center;
    block-size: cover;
}

.welcome-banner-content {
    text-align: left;

}

.welcome-banner-content * {
    margin: 0 0 20px;
}

.welcome-banner-content h2 {
    max-width: 529px;
    font-size: 52px;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.welcome-banner-content p {
    max-width: 575px;
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.welcome-banner-content button {
    background: none;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 14px 27px;
    border-radius: 5px;
}

.welcome-banner-content button:hover {
    background: #F00;
    border: 1px solid white;
    padding: 14px 27px;
}

.welcome-banner-image {
    max-width: 300px;
}

.welcome-banner-image img {
    width: 100%;
}

/* Address area style sheet */
.address-container {
    padding: 83px 0;
    max-height: 398px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.address-container * {
    margin-bottom: 20px;
}

.address-container p {
    color: #070211;
    font-size: 27px;
    font-weight: 600;
    line-height: 47px;
}

.address-container p span {
    color: #F00;
}

.address-container button {
    background: #F00;
    border: 1px solid white;
    padding: 14px 27px;
    border-radius: 5px;
}

.address-container button:hover {
    color: #F00;
    background: white;
    border: 1px solid #F00;
    padding: 14px 27px;
}

/* New offer announcement style sheet */
.announcement-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.announcement-container-left * {
    text-align: left;
    margin-bottom: 20px;
}

.announcement-container-left p {
    width: 325px;
}

.announcement-container-middle {
    width: 369px;
    height: 369px;
    border: 13px solid #F00;
    border-radius: 50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-container-middle:hover {
    border: 13px solid #070211;
}

.announcement-container-middle img {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.announcement-container-right {
    margin-top: 70px;
}

.announcement-container-right * {
    text-align: left;
    margin-bottom: 5px;
}

.announcement-container-right h4 {
    color: #F00;
    font-size: 40px;
    font-weight: 700;
}

.announcement-container-right p {
    width: 228px;
}

.announcement-container-right img {
    width: 140px;
    height: 140px;
    display: block;
    margin: 36px 0 0;
    text-align: left;
}